.training-program {
	background: url('../../images/training_program.jpg') no-repeat center center; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.training-text-top {
	padding-top: 60px !important; 
}


@media screen and (max-width: 768px) {

	.training-text-top {
		padding-top: 25px !important; 
	}

}

.training-program-form {
	margin-left: 20% !important;
	margin-right: 20% !important;
}

.essay {
	resize: vertical;
}

.word-count {
	text-align: right;
}

.error-message {
	color: #E81717; 
}