{% extends 'admin/admin-base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block include_css %}
<link rel="stylesheet" href="{% static 'css/admin/admin-login.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}
<div class="row">
	<h1 class="col-xs-offset-1 col-xs-10 light-face">CU App Dev Admin Portal</h1>
</div>

<div class="row col-xs-offset-1 col-xs-10 error-messages">
	<p>
	{% if messages %}
		{% for message in messages %}
			{{ message }}</br>
		{% endfor %}
	{% endif %}
	</p>
</div>

<div class="container col-xs-offset-1 col-xs-10">
	<form class="form-horizontal" method="POST" action="{{request.get_full_path}}">
		{% csrf_token %}
		{% for field in admin_form %}	
			<div class="form-group {{ field.name }}-group {% if field.errors %}has-errors{% endif %}">
				<label class="control-label light-face" for="id_{{ field.name }}">{{ field.label }}</label>
				{{ field }}
				<div class="error-message">
					{{ field.errors }}
				</div>	
			</div>
		{% endfor %}

		<input type="submit" value="Submit" class="btn btn-primary light-face"/>
	</form>
</div>


{% endblock %}

{% block include_js %}
<script src="{% static 'js/admin/admin-login.js' %}?{% now 'U' %}"></script> 
{% endblock %}

