{% extends 'admin/admin-base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block include_css %}
<link rel="stylesheet" href="{% static 'css/admin/admin-login.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}


<div class="well curved-well col-xs-offset-1 col-xs-10 container" style="margin-top:80px;">
	<p class="login-title text-center">CU App Dev Admin Login</p>

	<div class="row error-messages col-xs-offset-1 col-xs-10">
		<p>
		{% if messages %}
			{% for message in messages %}
				{{ message }}</br>
			{% endfor %}
		{% endif %}
		</p>
	</div>

	<div class="container col-xs-offset-1 col-xs-10">
		<form class="form-horizontal admin-login-form" method="POST" action="{{request.get_full_path}}">
			{% csrf_token %}
			{% for field in admin_form %}	
				<div class="form-group {{ field.name }}-group {% if field.errors %}has-errors{% endif %}">
					<label class="control-label light-face" for="id_{{ field.name }}">{{ field.label }}</label>
					{{ field }}
					<div class="error-message">
						{{ field.errors }}
					</div>	
				</div>
			{% endfor %}

			<input type="submit" value="Submit" class="btn btn-primary light-face"/>
		</form>
	</div>

</div>






{% endblock %}

{% block include_js %}
<script src="{% static 'js/admin/admin-login.js' %}?{% now 'U' %}"></script> 
{% endblock %}

