{% extends 'base.html' %}
{% load staticfiles %}

{% block include_css %}
<link rel="stylesheet" href="{% static 'css/static_pages/application.css' %}"/> 
{% endblock %}


{% block content %}

<div class="city">
	<p class="text text-white text-large">
		Apply to our Core Team or Training Program (apps due 2/10/16 @ 11:59pm)
	</p>
</div>

<div class="offwhite-barz training-program">
	<div class="slogan modified-slogan">
		Our Developer Training Program 
	</div> 

	<div class="text-black text-paragraph" style="padding-bottom: 50px;">
		Built for people new to iOS development or inexperienced with the fundementals of core iOS development concepts.
	</div> 

	<div class="slogan modified-slogan">
		<a href="{% url 'training-program-application' %}" class="button text-center red-link">Apply</a>
	</div>

</div> 
<div class="white-barz training-program">
	<div class="slogan modified-slogan">
		Our Design Training Program 
	</div>

	<div class="text-black text-paragraph" style="padding-bottom: 50px;">
		Introduced for people who want to learn the fundamentals of design, design software, and platform development ideologies.  
	</div>

	<div class="slogan modified-slogan">
		<a target="_blank" href="https://docs.google.com/forms/d/1sei-5EOaJqnE08DK_FY4FA79W7GzULmKB2dlBRw8nfw/viewform" class="button text-center red-link">Apply</a>
	</div>
</div>

<div class="offwhite-barz core-team">
	<div class="slogan modified-slogan">
		Our Core Team
	</div> 

	<div class="text-black text-paragraph" style="padding-bottom: 50px;"> 
		Apply to our core team that works on full-fledged iOS apps every semester, with design, iOS, and backend/web subteams. 
	</div> 

	<div class="slogan modified-slogan">
		<a href="{% url 'core-team-application' %}" class="button text-center red-link">Apply</a>
	</div>

</div> 




{% endblock %}