{% extends 'base.html' %}
{% load staticfiles %}

{% block include_css %}
<link rel="stylesheet" href="{% static 'css/static_pages/application.css' %}"/> 
{% endblock %}


{% block content %}

<div class="city">
	<p class="text text-white text-large">
		Apply to our Core Team or Training Program (apps due 2/7/16 @ 11:59pm)
	</p>
</div>

<div class="offwhite-barz training-program">
	<div class="slogan modified-slogan">
		Our Training Program 
	</div> 

	<div class="text-black text-paragraph" style="padding-bottom: 50px;">
		Built for people new to iOS development or inexperienced with the fundementals of core iOS development concepts.
	</div> 

	<div class="slogan modified-slogan">
		<a href="{% url 'training-program-application' %}" class="button text-center red-link">Apply</a>
	</div>

</div> 

<div class="white-barz core-team">
	<div class="slogan modified-slogan">
		Our Core Team
	</div> 

	<div class="text-black text-paragraph" style="padding-bottom: 50px;"> 
		Apply to our core team that works on full-fledged iOS apps every semester, with design, iOS, and backend/web subteams. 
	</div> 

	<div class="slogan modified-slogan">
		<a href="{% url 'core-team-application' %}" class="button text-center red-link">Apply</a>
	</div>

</div> 


{% endblock %}