{% load staticfiles %}

<!-- 

	BLOCKS 
	include_css 
	title 
	content 
	include_js

-->

<!DOCTYPE html> 

<html>

	<head>

		<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"> 
		<link rel="stylesheet" href="{% static 'bower_components/paper-less/css/paper.css' %}">
		<link rel="stylesheet" href="{% static 'bower_components/animo.js/animate-animo.min.css' %}"> 
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" href="{% static 'css/partials/partials.css' %}">
		<!-- Deals with viewing on mobile --> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{% static 'images/AppDevLogo.png'%}" type="image/x-icon"/>

		{% block include_css %}{% endblock %}
		<title>CU APP DEV | {% block title %}{% endblock %}</title> 

	</head>


	<body>		

		{% include 'partials/navbar_partial.html' %}



		{% block content %}
		{% endblock %}

		{% include 'partials/footer_partial.html' %}


		<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'bower_components/jquery.scrollTo/jquery.scrollTo.min.js' %}"></script> 
		<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script> 
		<script src="{% static 'bower_components/underscore/underscore-min.js' %}"></script> 
		<script src="{% static 'bower_components/react/react.js' %}"></script> 
		<script src="{% static 'bower_components/animo.js/animo.min.js' %}"></script> 
		<script src="{% static 'bower_components/js-cookie/src/js.cookie.js' %}"></script>
		<script src="{% static 'js/base.js' %}"></script> 
		{% block include_js %}{% endblock %}





		<!-- For the navbar: Should move to a JS file -->
		<script type="text/javascript">
			// Below code handles switching from a button to a regular link 
			// on resize/click depending on the difference in screen size 
			$('.navbar-toggle').click(function(event) {
				console.log($(window).width() <= 768);
				if($(window).width() <= 768) {
					$('.button').removeClass("button text-center").addClass("navelement prev-button");
				}
			});

			$(window).resize(function(event) {
				if($(self).width() > 768) {
					$('.prev-button').removeClass("prev-button navelement").addClass("button text-center");
				} else {
					$('.button.nav-button').removeClass("button text-center").addClass("navelement prev-button");
				}
			});

		</script>






	</body> 

</html> 