{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Sponsors
{% endblock %}

{% block include_css %}
	<link rel="stylesheet" href="{% static 'css/static_pages/sponsors.css' %}?{% now 'U' %}"/>
{% endblock %}

{% block content %}


<div class="sponsor">
	<p class="text text-white text-large">
		Become a Sponsor 
	</p>
</div> 

<div class="offwhite-barz">
	<div class="slogan modified-slogan">
		For more information, contact us via our listserv.  Below is a list of possible options for interested sponsors: 
	</div>
	<p class="slogan text-center">
			Tech Talks</br>
			Software Sponsorships</br>
			Monetary donations</br>
			Networking events</br>
		</ul>
	</p>

</div>


{% endblock %}