{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Training Program App 
{% endblock %}


{% block include_css %}
<link rel="stylesheet" href="{% static 'css/static_pages/training-program.css' %}?{% now 'U' %}"/> 
{% endblock %}

{% block content %}

<div class="training-program">
	<p class="text text-large text-white training-text-top">Join Our Training Program</p>
</div> 

<div class="white-barz">
	<div class="slogan modified-slogan" style="margin-left:20%;">
		Tell us about yourself
	</div>

	<form class="form-horizontal training-program-form" method="POST" action="{% url 'training-program-application' %}">
		{% csrf_token %}
		{% for field in user_form %}
			<div class="form-group {{ field.name }}-group {% if field.errors %}has-error{% endif %}">
				<label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label> 
				{{ field }}
				<div class="error-messages">
					{{ field.errors }}
				</div> 
			</div>
		{% endfor %}


		{% for field in trainee_form %}
			<div class="form-group {{ field.name}}-group {% if field.errors %}has-error{% endif %}">
				<label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
				{{ field }}
				<!-- If it's an essay, it needs a word restriction --> 
				{% if field.name == "essay" %}
					<div class="row">
						<div class="word-count">300</div>
					</div>
				{% endif %}
				<div class="error-message">
					{{ field.errors }}
				</div>
			</div>
		{% endfor %}

		<input type="submit" value="Submit" class="btn btn-primary"/>

	</form>
</div>




{% endblock %}

{% block include_js %}
<script src="{% static 'js/training-program.js' %}?{% now 'U' %}"></script> 
{% endblock %}

